{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<!-- Intro Section -->
<section class="bg-gray-8 text-light p-5 text-center text-md-start" id="background">
  <div class="container">
    <div class="d-md-flex align-items-center justify-content-between">
      <div class="col mb-5 mx-1">
        <h1>Charlie Avery </h1>
        <h1 class="text-muted">Data Analytics Developer</h1>
        {% for i in intro %}
          <p class="lead my-3">
            {{ i.content | safe }}
          </p>
        {% endfor %}      
        <button class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#contact">
          Get In Touch!
        </button>
      </div>
      <div class="col">
        <img class="mx-auto d-none d-md-block" src="{% static 'images/charlie.jfif' %}" alt="">
      </div>
    </div>
  </div>
</section>







<!-- Contact Modal -->
{% include 'portfolio/main/contact_modal.html' %}


{% endblock content %}
