{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}


<section class="bg-gray-8 text-light p-5" id="projects">
  <div class="container text-center">
    <div class="h1 mb-5">Projects</div>
    <p>
      These are some recent projects I have created. They are related to areas that interest me, using technologies I want to develop skills in. 
    </p>
  </div>
</section>


<section class="bg-gray-8 p-5">
  <div class="container">
    <div class="row justify-content-center g-5">
      {% for p in projects %}
      <div class="col-12 col-lg-6">
        <div class="card bg-dark text-light text-center h-100">
          {% if p.image %}
            <a href="{{p.url}}"><img src="{{ p.image.url }}" class="card-img-top" width="400" 
              height="400" ></a>
          {% endif %}
          <div class="card-body my-2">
            <h3 class="card-title">{{ p.name }}</h3>
            <p class="card-text">
              {{ p.content | safe }}
            </p>
          </div>
          <div class="card-footer bg-transparent border-0">
          
            {% for tag in p.tags.all %}
              <span class="badge rounded-pill bg-secondary m-1">{{ tag.name }}</span>
            {% endfor %}
          </div>

          <div class="card-footer">
            <a href="{{p.url}}" class="card-link">Project</a>
            <a href="{{p.github_url}}" class="card-link">Github</a>
          </div>

        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


{% endblock content %}