{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<!-- Toolbox -->
<section class="bg-gray-8 text-light p-5" id="toolbox">
  <div class="container text-center">
    <div class="h1">My Toolbox</div>
  </div>
</section>


{% for tagcat in tagcats %}
  <section class="bg-gray-8 pb-5 text-center" id=''>
    <div class="container">
      <div class="h2 text-light mb-5">{{ tagcat.name }}</div>
      <div class="row justify-content-center g-4">
        
        {% for tag in tagcat.tag.all %}
        <div class="col-sm-6 col-md-3 col-lg">
          <div class="card bg-dark text-light h-100">
            <div class="card-body">
              <i class="{{ tag.icon_class }}"></i>
              <h4 class="my-3">{{ tag.name }}</h4>
            </div>
          </div>
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>
{% endfor %}


{% endblock content %}